<section class="edit-form-container">

    <form action="/actions/edit/{{book._id}}" method="post">
        <h3>Edit Book Review</h3>
        <label>Title</label>
        <input type="text" name="title" class="box" value="{{book.title}}" id="">
        <label>Author</label>
        <input type="text" name="author" class="box" value="{{book.author}}" id="">
        <label>Genre</label>
        <input type="text" name="genre" class="box" value="{{book.genre}}" id="">
        <label>Stars</label>
        <input type="number" name="stars" class="box" value="{{book.stars}}" id="">
        <label>Image</label>
        <input type="text" name="imageUrl" class="box" value="{{book.imageUrl}}" id="">
        <label>Review</label>
        <textarea class="box" name="review">{{book.review}}</textarea> <input type="submit" value="Edit" class="btn">
    </form>
</section>