{{!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <a href="/">Home</a>
    <a href="/auth/login">Login</a>
    <a href="/auth/register">Register</a>
    <a href="/auth/logout">Logout</a>

    {{#if errors}}
    <div>
        {{#each errors}}
        <p>{{this}}</p>
        {{/each}}
    </div>
    {{/if}}

    {{{body}}}
</body>

</html> --}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

</head>

<body>

        <!-- In case of error, you should display div with class "errorContainer" -->
    <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
    {{#if errors}}
    <div>
        <div class="errorContainer">
            {{#each errors}}
            <p>{{this}}</p>
            {{/each}}
        </div>
    </div>
    {{/if}}

    <header class="header">

        <div class="header">
            <nav class="navbar">
                <a href="/">Home</a>
                <a href="/catalog">Catalog</a>
                {{#if user}}
                    <!--Only for logged user-->
                    <a href="#">Profile</a>
                    <a href="/create/add-review">Create Review</a>
                    <a href="/auth/logout">Logout</a>
                {{else}}
                    <!--Only for guest-->
                    <a href="/auth/login">Login</a>
                    <a href="/auth/register">Register</a>
                {{/if}}
            </nav>
        </div>

    </header>

{{{body}}}

</body>

</html>