<section id="create-section">
    <h1 class="item">Edit Auction</h1>
    <div class="item padded align-center">
        <form class="layout left large" method="post" action="/action/edit/{{item._id}}">
            <div class="col aligned">
                <label>
                    <span>Title</span>
                    <input type="text" name="auctionTitle" value="{{item.auctionTitle}}"></label>
                <label>
                    <span>Category</span>
                    <select name="category">
                        {{#each categoryLevels}}
                        <option value="{{key}}" {{#if selected}}selected{{/if}}>{{label}}</option>
                        {{/each}}
                    </select>
                </label>
                <label>
                    <span>Image URL</span>
                    <input type="text" name="imageUrl" value="{{item.imageUrl}}">
                </label>
                <label>
                    <span>Starting price</span>

                    <!-- If the current auction has a bidder, this input field should be disabled -->
                    {{#if item.hasBids}}
                    <input type="number" name="price" value="{{item.price}}" disabled>
                    {{else}}
                    <input type="number" name="price" value="{{item.price}}">
                    {{/if}}
                </label>
            </div>
            <div class="content pad-med align-center vertical">
                <label>
                    <span>Description</span>
                    <textarea name="description">{{item.description}}</textarea>
                </label>
                <div class="align-center">
                    <input class="action" type="submit" value="Update Listing">
                </div>
            </div>
        </form>
    </div>
</section>