<section class="create-form-container">

    <form method="post">
        <h3>Create Book Review</h3>
        <label>Title</label>
        <input type="text" name="reviewTitle" class="box" id="book-title" value="{{reviewTitle}}">
        <label>Author</label>
        <input type="text" name="author" class="box" id="book-author" value="{{author}}">
        <label>Genre</label>
        <input type="text" name="genre" class="box" id="book-genre" value="{{genre}}">
        <label>Stars</label>
        <input type="number" name="stars" class="box" id="book-stars" value="{{stars}}">
        <label>Image</label>
        <input type="text" name="imageUrl" class="box" id="book-image" value="{{imageUrl}}">
        <label>Review</label>
        <textarea class="box" name="review" value="{{review}}"></textarea>
        <input type="submit" value="Create" class="btn">
    </form>

</section>