<section id="viewhotelDetails">
    <h2>Details</h2>
    <div class="hotel-ticket">
        <div class="hotel-left">
            <img src="{{hotel.imgUrl}}" alt="">
        </div>
        <div class="hotel-right">
            <div>
                <h3>{{hotel.name}}</h3>
            </div>
            <div>
                {{hotel.city}}
            </div>
            <p><span>Free rooms: {{hotel.rooms}}</span> </p>
            {{#if isOwner}}
                <a href="/details/edit" class="edit">Edit</a>
                <a href="/details/delete" class="remove">Delete</a>
            {{else}}
            {{#if isBooked}}
                <p><span class="green">You already have booked a room</span> </p>
            {{else}}
                <a href="/details/book/{{hotel._id}}" class="book">Book</a>
            {{/if}}
            {{/if}}
        </div>

    </div>
</section>