<section id="viewCatalog" class="background-img">
    {{#if hotels}}
    <div class="added-hotels">
        {{#each hotels}}
        <a href="/{{_id}}/details" class="added-hotel">
            <img src="{{imgUrl}}" alt="{{name}}" class="picture-added-hotel">
            <h3>{{name}}</h3>
            <span>Free rooms: {{rooms}}</span>
        </a>
        {{/each}}
    </div>
    {{else}}
    <div class="guest">
        There are no Hotels found...
    </div>
    {{/if}}
</section>