<main>
    <section class="crypto-market">
        <h1><span>Crypto</span> Trade</h1>
        {{#if data}}
        <div class="offer-list">
        {{#each data}}
            <div class="coin">
                <div class="coin-img">
                    <img src="{{imageUrl}}">
                </div>
                <div class="coin-info">
                    <h1>{{name}}</h1>
                    <p><span>Price: </span>${{price}}</p>
                    <p><span>Payment: </span>{{paymentMethod}}</p>
                </div>

                <a href="/details/{{_id}}" class="btn-details">Details</a>
            </div>
        {{/each}}
        </div>
        {{else}}
        <div class="no-offer">
            <p>There are no crypto offers found!</p>
        </div>
        {{/if}}
    </section>
</main>

{{!--
<div class="coin">
    <div class="coin-img">
        <img src="./static/images/ethereum.png">
    </div>
    <div class="coin-info">
        <h1>Ethereum</h1>
        <p><span>Price: </span>$2,338.55</p>
        <p><span>Payment: </span>debit-card</p>
    </div>

    <a href="#" class="btn-details">Details</a>
</div>
<div class="coin">
    <div class="coin-img">
        <img src="./static/images/dogecoin.png">
    </div>
    <div class="coin-info">
        <h1>Dogecoin</h1>
        <p><span>Price: </span>$0.09478</p>
        <p><span>Payment: </span>crypto-wallet</p>
    </div>

    <a href="#" class="btn-details">Details</a>
</div>
<div class="coin">
    <div class="coin-img">
        <img src="./static/images/bitcoin.png">
    </div>
    <div class="coin-info">
        <h1>Bitcoin</h1>
        <p><span>Price: </span>$31,166.71</p>
        <p><span>Payment: </span>paypal</p>
    </div>

    <a href="#" class="btn-details">Details</a>
</div>
--}}