<!-- Edit Page -->
<section id="create-section">

    <h1 class="item">Edit Auction</h1>

    <div class="item padded align-center">

        <form class="layout left large" method="post" action="/actions/edit/{{auction._id}}">

            <div class="col aligned">
                <label>
                    <span>Title</span>
                    <input type="text" name="title" value="{{auction.title}}"></label>
                <label>
                    <span>Category</span>
                    <select name="category">
                        {{#each auction.dropDown}}
                        <option value="{{key}}" {{#if selected}}selected{{/if}}>{{label}}</option>
                        {{/each}}
                    </select>
                </label>
                <label>
                    <span>Image URL</span>
                    <input type="text" name="imageUrl" value="{{auction.imageUrl}}">
                </label>
                <label>
                    <span>Starting price</span>

                    <!-- If the current auction has a bidder, this input field should be disabled -->
                    <input type="number" name="price" value="{{auction.price}}" {{#if auction.hasBidder}}disabled{{/if}}>
                </label>
            </div>

            <div class="content pad-med align-center vertical">
                <label>
                    <span>Description</span>
                    <textarea name="description">{{auction.description}}</textarea>
                </label>

                <div class="align-center">
                    <input class="action" type="submit" value="Update Listing">
                </div>
            </div>

        </form>

    </div>

</section>