<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>

    <!-- Do not forget to change the path to the css file -->
    <link href="/static/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>


    <div id="box">

        <!-- In case of error, you should display div with class "error-container" -->
        <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
        {{#if errors}}
        <div class="error-container">
            {{#each errors}}
                <p>{{this}}</p>
            {{/each}}
        </div>
        {{/if}}


        <nav>
            <!-- Do not forget to change the path to the image -->
            <img src="/static/img/logo.png" alt="logo">

            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/posts/catalog">All Posts</a></li>
                {{#if user}}
                <!-- Logged users -->
                <li><a href="/posts/create">Create Post</a></li>
                <li><a href="/posts/profile">Posts of {{email-of-user}}</a></li>
                <li><a href="/auth/logout">Logout</a></li>
                {{else}}
                <!-- Guest users -->
                <li><a href="/auth/register">Register</a></li>
                <li><a href="/auth/login">Login</a></li>
                {{/if}}
            </ul>

        </nav>


        {{{body}}}

        <footer>
            © Js Back-End Exam 2021
        </footer>
    </div>

</body>

</html>