<main>

    <section id="details-page">

        <div class="main_card">
            <div class="card_left">
                <div class="card_datails">

                    <h1>Title: {{post.title}}</h1>
                    <h3>Created by an author: {{post.author.firstName}} {{post.author.lastName}}</h3>
                    <div class="card_animal">
                        <p class="card-keyword">Keyword: {{post.keyword}}</p>
                        <p class="card-location">Location: {{post.location}}</p>
                        <p class="card-date">Date: {{post.date}}</p>
                    </div>

                    <p class="disc">Description: {{post.description}}</p>

                    <!-- If there is no registered user, do not display buttons-->
                    {{#if itHasUser}}
                    <div class="social-btn">
                        {{#if post.isOwner}}
                        <!-- Only for registered user and author of the post -->
                        <a href="/postActions/{{post._id}}/edit" class="edit-btn">Edit</a>
                        <a href="/postActions/{{post._id}}/delete" class="del-btn">Delete</a>
                        {{else}}
                        {{#if post.isVoted}}
                        <!-- logged in user who has already voted-->
                        <p class="thanks-for-vote">Thanks For Voting</p>
                        {{else}}
                        <!-- logged in users, who have not yet voted-->
                        <a href="/postActions/{{post._id}}/vote-up" class="vote-up">UpVote +1</a>
                        <a href="/postActions/{{post._id}}/vote-down" class="vote-down">DownVote -1</a>
                        {{/if}}
                        {{/if}}

                    </div>
                    {{/if}}


                </div>
            </div>
            <div class="card_right">
                <img src="{{post.imageUrl}}" alt="image">
            </div>
        </div>

    </section>

    <section id="votes">
        <div class="vote-info">
            <div class="card_left">
                <div class="card_datails">
                    <h1>Votes</h1>
                    <div class="card_vote">
                        <!-- Show the rating of votes, if there are no votes yet, the number must be 0. -->
                        <p class="PV">Total rating of votes: {{post.rating}}</p>
                    </div>
                    <!-- If there are already people who have cast their vote for the post, separate their emails with a comma and a space ", " -->
                    {{#if post.votes}}
                    <p class="disc">People who voted for the post - {{#each post.votes}}{{email}}, {{/each}}</p>
                    {{else}}
                    <!-- If not display: -->
                    <p class="disc">People who voted for the post - No one has voted yet.</p>
                    {{/if}}
                </div>
            </div>
        </div>
    </section>

</main>