<!-- Start Add Photo Section -->
<div class="editPage">
    <h2>Edit photo</h2>
    <!-- Start Add Photo Form -->
    <form action="/actions/edit/{{pet._id}}" method="post">
        <p>
            <input type="text" name="name" placeholder="Name" value="{{pet.name}}">
        </p>

        <p>
            <input type="number" name="age" placeholder="Age" value="{{pet.age}}">
        </p>

        <p>
            <textarea type="text" name="description" placeholder="Description">{{pet.description}}</textarea>
        </p>

        <p>
            <input type="text" name="location" placeholder="Location" value="{{pet.location}}">
        </p>

        <p>
            <input type="text" name="imageUrl" placeholder="Link to image" value="{{pet.imageUrl}}">
        </p>
        <!-- Add Photo Button -->
        <button class="edit-btn" type="submit">Edit Photo</button>
    </form>
</div>