<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/site.css">
    <title>{{title}}</title>
</head>

<body>

    <div id="page-content">

        <header>
            <a href="/" class="title-logo">
                <img src="/static/assets/logo.png">
                <span>Auction House</span>
            </a>
            {{!-- remove --}}
            <i>{{user.email}}</i>
            <nav class="main-nav nav-mid">
                <ul>
                    <li>
                        <a href="/catalog">Browse</a>
                    </li>
                    {{#if user}}
                    <!-- User actions -->
                    <li class="user">
                        <a href="/action/create">Publish</a>
                    </li>

                    <!-- Bonus action -->
                    
                    <li class="user">
                        <a href="/closed">Closed Auctions</a>
                    </li>
                    

                    <li class="user">
                        <a href="/auth/logout">Logout</a>
                    </li>
                    <!-- Guest actions -->
                    {{else}}
                    <li class="guest">
                        <a href="/auth/register">Register</a>
                    </li>
                    <li class="guest">
                        <a href="/auth/login">Login</a>
                    </li>
                    {{/if}}
                </ul>
            </nav>
        </header>

        <main>

            <!-- In case of error, display the following div-->

            {{#if errors}}
            <div class="error-box">
                {{#each errors}}
                <p>{{this}}</p>
                {{/each}}
            </div>
            {{/if}}



            <!-- Home Page -->
            {{{body}}}

        </main>

        <footer>SoftUni &copy; 2022 | Design by Viktor Kostadinov</footer>
    </div>

</body>

</html>