<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
    <link href="/static/css/site.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">Video Tutorials</a>

            <ul class="navbar-nav ml-auto">

                <!-- Guest users and Logged users -->
                <li class="nav-item">
                    <a class="nav-link" href="/">Home </a>
                </li>
                {{#if user}}
                <!-- Logged users -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Welcome, {{user.username}}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/courses/create">Create</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">My Profile</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/auth/logout">Logout</a>
                </li>
                {{else}}
                <!-- Guest users -->
                <li class="nav-item">
                    <a class="nav-link" href="/auth/login">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/auth/register">Register</a>
                </li>
                {{/if}}
            </ul>
        </nav>


        <!-- In case of error, you should display section with class "notifications" -->
        <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->

        {{#if errors}}
        {{#each errors}}
        <section class="notifications">
            <p class="notification-message">{{this}}</p>
        </section>
        {{/each}}
        {{/if}}

        {{{body}}}

        <footer class="page-footer font-small">
            <div class="footer-copyright text-center py-3">© 2021
                <p>Js Back End</p>
            </div>
        </footer>

    </div>
</body>

</html>